<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import DriverGroupsAPI from "../../../../api/driver-groups";
    import DriversAPI from "../../../../api/drivers";

    export let pageTitle = "Sửa Thông Tin Đội Xe";

    export let id: number;
    export let driverGroup;

    let drivers = [];

    onMount(async () => {
        DriverGroupsAPI.get(id, $accessToken)
            .then((response: any) => {
                driverGroup = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

            DriversAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        DriverGroupsAPI.update(
            driverGroup.id,
            driverGroup.leaderId,
            driverGroup.codename,
            driverGroup.name,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/driver-group");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if driverGroup}
            <FormSelect
                label="Đội trưởng"
                placeholder="Chọn một người"
                data={drivers}
                bind:value={driverGroup.leaderId} />
            <FormInput label="Tên đội" required="true" bind:value={driverGroup.name} />
            <FormInput label="Mã đội" required="true" bind:value={driverGroup.codename} />

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>
