<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import CustomersAPI from "../../../api/customers";
    import UsersAPI from "../../../api/users";

    export let pageTitle = "Thêm Khách Hàng";

    let users = [];
    let userId, codename;

    onMount(async () => {
        UsersAPI.getAll($accessToken)
            .then((response: any) => {
                users = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        CustomersAPI.create(userId, codename, $accessToken)
            .then((response: any) => {
                goto("/admin/customer");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormSelect
            label="Người dùng hệ thống"
            placeholder="Chọn một người dùng"
            data={users}
            bind:value={userId}
        />
        <FormInput
            label="Mã khách hàng"
            required="true"
            bind:value={codename}
        />

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>

<style scoped>
</style>
