<script lang="ts">
    import { onMount } from "svelte";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import DataTable from "../../../components/shared/DataTable.svelte";
    import CustomersAPI from "../../../api/customers";

    export let pageTitle = "Danh Sách Khách Hàng";

    // Specific props and datas
    let customers = [];
    let deleteId = 0;

    onMount(async () => {
        await CustomersAPI.getAll($accessToken)
            .then((response: any) => {
                customers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function handleDelete() {
        if (deleteId !== 0) {
            CustomersAPI.delete(deleteId, $accessToken)
                .then((response: any) => {
                    // Refresh
                    location.reload();
                })
                .catch(() => {
                    console.log("Lỗi.");
                });
        } else {
            console.log("Lỗi: id = 0");
        }
    }
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <!-- Top actions -->
    <div class="flex justify-between items-center mb-8">
        <a
            class="flex justify-center items-center w-max-content rounded bg-purple-500 text-white text-sm px-4 py-2"
            href="/admin/customer/create">+ Thêm</a>

        <input
            type="text"
            class="block border border-black rounded text-sm p-2"
            placeholder="Tìm kiếm" />
    </div>
    <!-- Top actions -->

    <!-- Data table -->
    <DataTable
        data={customers}
        editUrl="/admin/customer/edit"
        on:delete={handleDelete}
        bind:deleteId />
    <!-- Data table -->
</DashboardMain>
