<script lang="ts">
    import DashboardMain from '../../../components/shared/DashboardMain.svelte'
    import FormInput from '../../../components/shared/FormInput.svelte'
    import FormTextArea from '../../../components/shared/FormTextArea.svelte'
    import FormSelect from '../../../components/shared/FormSelect.svelte'
    import FormRadioGroup from '../../../components/shared/FormRadioGroup.svelte'
    import FormRadioButton from '../../../components/shared/FormRadioButton.svelte'
    import CustomButton from '../../../components/shared/CustomButton.svelte'

    export let pageTitle = "Hồ Sơ"
</script>

<style scoped>
</style>

<svelte:head>
	<title>{ pageTitle ? pageTitle : 'Không Có Tiêu Đề' }</title>
</svelte:head>

<DashboardMain title="{ pageTitle }">
    <div>
        <FormInput label="Họ và tên" required="true" />
        <FormInput label="Số điện thoại "/>
        <FormInput label="Email" required="true"/>
        <FormInput label="Avatar" />

        <div class="py-4">
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>