<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormInputNumber from "../../../../components/shared/FormInputNumber.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import OrdersAPI from "../../../../api/orders";
    import CustomersAPI from "../../../../api/customers";
    import DriversAPI from "../../../../api/drivers";
    import CategoriesAPI from "../../../../api/categories";

    export let pageTitle = "Sửa Thông Tin Khách Hàng";

    export let id: number;
    export let order;

    const statuses = [
        {
            id: 1,
            name: "Đang chờ",
        },
        {
            id: 2,
            name: "Đang giao",
        },
        {
            id: 3,
            name: "Đã giao",
        },
        {
            id: 4,
            name: "Bị huỷ",
        },
    ];

    let categories = [];
    let customers = [];
    let drivers = [];

    onMount(async () => {
        OrdersAPI.get(id, $accessToken)
            .then((response: any) => {
                order = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
        CategoriesAPI.getAll($accessToken)
            .then((response: any) => {
                categories = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
        DriversAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
        CustomersAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                customers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        OrdersAPI.update(
            order.id,
            order.category_id,
            order.customer_id,
            order.driver_id,
            order.pickup_address,
            order.delivery_address,
            parseInt(order.weight),
            parseInt(order.price),
            order.note,
            order.response,
            order.status,
            $accessToken
        )
            .then((response: any) => {
                goto("/admin/order");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }

    const getPackagePrice = (weight: number): number => {
        if (weight <= 10) return 1000 * order.price;
        if (weight > 10 && weight <= 30) return 1500 * order.price;
        if (weight > 30 && weight <= 50) return 2500 * order.price;
        if (weight > 50 && weight <= 80) return 5000 * order.price;
        if (weight > 80 && weight <= 100) return 800 * order.price;
        else return 12500 * order.price;
    };
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if order}
            <FormSelect
                label="Loại hàng"
                placeholder="Chọn một loại hàng"
                data={categories}
                bind:value={order.category_id}
            />
            <FormSelect
                label="Người nhận"
                placeholder="Chọn một người dùng"
                data={customers}
                bind:value={order.customer_id}
            />
            <FormSelect
                label="Lái xe"
                placeholder="Chọn một người dùng"
                data={drivers}
                bind:value={order.driver_id}
            />
            <FormInput
                label="Điểm lấy hàng"
                bind:value={order.pickup_address}
            />
            <FormInput
                label="Điểm giao hàng"
                bind:value={order.delivery_address}
            />
            <FormInputNumber
                label="Khối lượng (kg)"
                required="true"
                bind:value={order.weight}
            />
            <FormInputNumber label="Tiền thu hộ" bind:value={order.price} />
            <FormInput label="Ghi chú đơn hàng" bind:value={order.note} />
            <FormInput
                label="Phản hồi khách hàng"
                bind:value={order.response}
            />
            <FormSelect
                label="Trạng thái"
                placeholder="Chọn một trạng thái"
                data={statuses}
                bind:value={order.status}
            />

            <div class="text-sm font-bold text-gray-700 mb-4">
                Giá vận chuyển
            </div>
            <table class="w-full mb-4">
                <thead class="font-bold text-gray-700 border-b border-black">
                    <tr>
                        <td class="py-2">Cân nặng</td>
                        <td class="py-2">Đơn giá</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&lt;= 10 kg</td>
                        <td>500 đ</td>
                    </tr>
                    <tr>
                        <td>&gt; 10 kg, &lt;= 20kg</td>
                        <td>700 đ</td>
                    </tr>
                    <tr>
                        <td>&gt; 20 kg, &lt;= 30kg</td>
                        <td>1100 đ</td>
                    </tr>
                    <tr>
                        <td>&gt; 30 kg, &lt;= 40kg</td>
                        <td>1700 đ</td>
                    </tr>
                    <tr>
                        <td>&gt; 40 kg, &lt;= 50kg</td>
                        <td>2500 đ</td>
                    </tr>
                    <tr>
                        <td>&gt; 50 kg</td>
                        <td>3500 đ</td>
                    </tr>
                </tbody>
            </table>

            <div class="text-sm font-bold text-gray-700 mb-4">Tổng giá</div>
            <p class="mb-4">
                <strong>{order.price} đ</strong>
                (2% giá đơn:
                <strong>{order.price * 0.02} đ</strong>) + ({order.weight}
                kg:
                <strong>{getPackagePrice(order.weight)} đ</strong>) =
                <b>{order.price * 1.02 + getPackagePrice(order.weight)} đ</b>
            </p>

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>

<style scoped>
</style>
