<script lang="ts">
	import AdminMenu from "../components/admin/AdminMenu.svelte";
	import DriverMenu from "../components/driver/DriverMenu.svelte";
	import ClientMenu from "../components/client/ClientMenu.svelte";

	export let segment: string;
</script>

<style>
</style>

{#if !segment}
	<main class="">
		<slot />
	</main>
{:else}
	<div class="flex flex-wrap">
		<div class="w-full lg:w-1/6">
			{#if segment === 'admin'}
				<AdminMenu />
			{:else if segment === 'driver'}
				<DriverMenu />
			{:else if segment === 'client'}
				<ClientMenu />
			{/if}
		</div>
		<div class="w-full lg:w-5/6">
			<main class="">
				<slot />
			</main>
		</div>
	</div>
{/if}
