<script lang="ts">
  import { goto } from "@sapper/app";
  import { accessToken, currentUser } from "../stores/store";
  import AuthAPI from "../api/auth";

  let email: string, password: string;

  const login = () => {
    AuthAPI.login(email, password)
      .then((response: any) => {
        accessToken.set(response.data.access_token);

        AuthAPI.me($accessToken)
          .then((response: any) => {
            const user = response.data;

            currentUser.set(user);

            if (user.role !== 0) {
              switch (user.role) {
                case 1:
                  goto("/admin");
                  break;

                case 2:
                  goto("/driver");
                  break;

                case 3:
                  goto("/client");
                  break;
              }
            }
          })
          .catch((error: any) => {
            console.log("Lỗi lấy thông tin." + error);
          });
      })
      .catch(() => {
        console.log("Lỗi xác thực.");
      });
  };
</script>

<style>
</style>

<svelte:head>
  <title>Đăng Nhập</title>
</svelte:head>

<div class="h-screen flex justify-center items-center bg-gray-300">
  <div class="w-full lg:w-1/5 bg-white px-4 py-8">
    <div class="flex flex-col items-center text-blue-800 mb-8">
      <h1 class="text-3xl font-bold">Đăng Nhập</h1>
      <p class="text-sm">Vào tài khoản của bạn.</p>
    </div>

    <div>
      <div class="mb-4">
        <input
          class="block w-full border text-sm p-2"
          type="email"
          placeholder="Tài khoản"
          autocomplete="on"
          bind:value={email} />
      </div>
      <div class="mb-4">
        <input
          class="block w-full border text-sm p-2"
          type="password"
          placeholder="Mật khẩu"
          bind:value={password} />
      </div>
      <button
        class="w-full bg-blue-800 hover:bg-blue-900 text-white py-2 text-lg"
        role="button"
        on:click={login}>
        Đăng Nhập
      </button>
    </div>
  </div>
</div>
