<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import UsersAPI from "../../../../api/users";

    export let pageTitle = "Thêm Người Dùng";

    const permissions = [
        {
            id: 1,
            name: "Admin",
        },
        {
            id: 2,
            name: "Tài xế",
        },
        {
            id: 3,
            name: "Khách hàng",
        },
    ];

    export let id: number;
    export let user;

    onMount(async () => {
        UsersAPI.get(id, $accessToken)
            .then((response: any) => {
                user = response.data;
                // Value problem solved
                user.active = user.active.toString();
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        UsersAPI.update(
            user.id,
            user.username,
            user.name,
            user.email,
            user.avatar,
            user.phone,
            user.address,
            user.role,
            user.active,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/user");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if user}
            <FormInput
                label="Họ và tên"
                required="true"
                bind:value={user.name}
            />
            <FormInput
                label="Tên người dùng"
                required="true"
                bind:value={user.username}
            />
            <FormInput
                label="Email"
                required="true"
                type="email"
                bind:value={user.email}
            />
            <FormInput label="Avatar" bind:value={user.avatar} />
            <FormInput label="Số điện thoại" bind:value={user.phone} />
            <FormInput label="Địa chỉ" bind:value={user.address} />
            <FormSelect
                label="Quyền hạn"
                placeholder="Chọn một loại"
                data={permissions}
                bind:value={user.role}
            />
            <FormRadioGroup label="Trạng thái">
                <FormRadioButton
                    id="active-0"
                    name="active"
                    label="Không kích hoạt"
                    value="0"
                    bind:group={user.active}
                />
                <FormRadioButton
                    id="active-1"
                    name="active"
                    label="Kích hoạt"
                    value="1"
                    bind:group={user.active}
                />
            </FormRadioGroup>

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>

<style scoped>
</style>
