<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormInputNumber from "../../../components/shared/FormInputNumber.svelte";
    import FormTextArea from "../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import UsersAPI from "../../../api/users";
    import DriversAPI from "../../../api/drivers";
    import DriverGroupsAPI from "../../../api/driver-groups";
    import VehicleTypesAPI from "../../../api/vehicle-types";

    export let pageTitle = "Thêm Lái Xe";

    let drivers = [];
    let vehicleTypes = [];
    let driverGroups = [];

    let userId,
        driverGroupId,
        vehicleTypeId,
        codename,
        name,
        imageUrl,
        age,
        phone,
        email,
        address,
        citizenId,
        licenseId,
        licensePlate;

    onMount(async () => {
        VehicleTypesAPI.getAll($accessToken)
            .then((response: any) => {
                vehicleTypes = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        UsersAPI.getAll($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        DriverGroupsAPI.getAll($accessToken)
            .then((response: any) => {
                driverGroups = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        DriversAPI.create(
            userId,
            driverGroupId,
            vehicleTypeId,
            codename,
            citizenId,
            licenseId,
            licensePlate,
            $accessToken
        )
            .then((response: any) => {
                goto("/admin/driver");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormInput label="Mã tài xế" required="true" bind:value={codename} />
        <FormSelect
            label="Tài xế"
            placeholder="Chọn một người dùng"
            data={drivers}
            bind:value={userId}
        />
        <FormSelect
            label="Đội xe"
            placeholder="Chọn một đội xe"
            data={driverGroups}
            bind:value={driverGroupId}
        />
        <FormSelect
            label="Loại xe"
            placeholder="Chọn một loại xe"
            data={vehicleTypes}
            bind:value={vehicleTypeId}
        />
        <FormInput label="Số CMND/căn cước" bind:value={citizenId} />
        <FormInput label="Số bằng lái xe" bind:value={licenseId} />
        <FormInput label="Biển số xe" bind:value={licensePlate} />

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>

<style scoped>
</style>
