<script lang="ts">
    export let variant;
    export let type;
</script>

<style scoped>
    .button--submit {
       background: purple;
       color: white;
    }
    .button--success {
       background: green;
       color: white;
    }
    .button--danger {
       background: red;
       color: white;
    }
</style>

<button class="{ variant ? `button--${variant}` : '' } rounded text-sm px-4 py-2" type="{ type }">
    <slot></slot>
</button>