<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../stores/store";

    import DasshboardFooter from '../shared/parts/DashboardFooter.svelte'
    import AuthAPI from "../../api/auth"

    export let title;
    let isUserMenuActive = false

    onMount(async () => {
        AuthAPI.me($accessToken)
            .catch(() => {
                goto("/")
            });
    })

    const toggleUserMenu = () => {
        isUserMenuActive = !isUserMenuActive
    }

    const logOut = () => {
        goto("/")
    }
</script>

<div class="bg-gray-200">
    <div class="bg-primary-1000 text-white pb-12">
        <div class="flex justify-between items-center">
            <div>
                <button class="p-4"><i class="fas fa-bars" /></button>
                <input
                    type="text"
                    class="inline-block outline-none bg-transparent text-sm py-4"
                    placeholder="Nhập để tìm kiếm"
                />
            </div>
            <div class="relative">
                <button class="p-4" on:click={toggleUserMenu}
                    ><i class="far fa-user" /></button
                >

                {#if isUserMenuActive}
                    <div
                        class="absolute z-50 bg-white rounded shadow-md text-primary-1000 text-sm p-2"
                        style="top: 3rem; right: 5px; width: max-content;"
                    >
                        <ul>
                            <li>
                                <div
                                    class="block pl-2 pr-8 py-2 hover:bg-gray-200"
                                    on:click={logOut}
                                >Đăng xuất</div>
                            </li>
                        </ul>
                    </div>
                {/if}
            </div>
        </div>

        <div>
            <h1 class="text-lg font-light p-4 mb-8">
                {title ? title : "Không Có Tiêu Đề"}
            </h1>
        </div>
    </div>

    <div
        class="z-10 bg-white rounded-md px-4 py-8 mx-8"
        style="transform: translateY(-3rem);"
    >
        <slot />
    </div>
</div>

<DasshboardFooter />
