<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    export let data = [];
    export let toolRole = "admin";
    export let editUrl = "";
    export let manageUrl = "";
    let currentPage = 1;
    let totalPage = 1;

    // Value to binding to outside
    export let deleteId = 0;

    function dispatchDelete(id: number): any {
        deleteId = id;
        dispatch("delete");
    }
</script>

<table class="w-full mb-4">
    <thead class="border-b-2">
        <th class="py-2">#</th>
        {#each data as item, i}
            {#if i === 0}
                {#each Object.entries(item) as prop}
                    <th class="py-2">{prop[0]}</th>
                {/each}
            {/if}
        {/each}
        <th class="py-2">Công cụ</th>
    </thead>
    <tbody>
        {#each data as item, i}
            <tr class="border-b hover:bg-gray-100 text-center">
                <td class="py-2">{i + 1}</td>
                {#each Object.entries(item) as prop}
                    <td class="py-2">{prop[1]}</td>
                {/each}
                <td class="flex justify-center">
                    {#if toolRole === "admin"}
                        <a class="px-4 py-2" href={`${editUrl}/${item.id}`}
                            ><i class="fas fa-pencil-alt" /></a
                        >
                        <div
                            class="cursor-pointer px-4 py-2"
                            on:click={dispatchDelete(item.id)}
                        >
                            <i class="fas fa-trash" />
                        </div>
                    {:else}
                        <a class="px-4 py-2" href={`${manageUrl}/${item.id}`}
                            ><i class="fas fa-eye" /></a
                        >
                    {/if}
                </td>
            </tr>
        {/each}
    </tbody>
    <tfoot />
</table>

<div>
    <div class="flex">
        <div class="w-1/2">Tổng số: {totalPage} trang.</div>
        <div class="w-1/2 flex justify-center items-center font-bold">
            <div class="px-2 hover:underline cursor-pointer">Đầu</div>
            <div class="flex cursor-pointer">
                <div class="px-2 hover:underline">1</div>
                <div class="px-2 hover:underline">2</div>
                <div class="px-2 hover:underline">3</div>
            </div>
            <div class="px-2 hover:underline cursor-pointer">Cuối</div>
        </div>
    </div>
</div>

<style scoped>
</style>
