<script lang="ts">
    export let id: string;
    export let name: string;
    export let value: string;
    export let label: string = "No label";
    // Group to bind value
    export let group: string;
    
</script>

<input type="radio" class="block" id={id} name={name} value={value} bind:group={group} />
<label class="pl-2 pr-8" for={id}>{label}</label><br />
