<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    export let id: string;
    export let label = "Không có tiêu đề";
    export let placeholder: string;
    export let required = "false";
    export let data = [];
    export let value: number;

    let active = false;
    let currentValueName: string = "";

    function submit(event: any) {
        value = event.target.value;
        dispatch("submit");
    }

    function toggleSelect(): void {
        active = !active;
    }

    function setValue(valueIn: number, name: string): any {
        value = valueIn;
        currentValueName = name;
        active = false;
    }
</script>

<div class="text-sm mb-2">
    <label class="block font-bold text-gray-700 mb-2" for={id}
        >{label}
        {required === "true" ? "(*)" : ""}</label
    >
    <div
        class="select-none cursor-pointer border border-gray-400 p-2 mb-2"
        on:click={toggleSelect}
    >
        {currentValueName ? currentValueName : placeholder}
    </div>

    {#if active}
        <div class="bg-white border border-gray-400">
            <ul>
                {#each data as item}
                    <li
                        class="select-none cursor-pointer hover:bg-blue-600 p-2"
                        on:click={setValue(item.id, item.name)}
                    >
                        {item.name}
                    </li>
                {/each}
            </ul>
        </div>
    {/if}
</div>
