<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    export let id: string;
    export let label: string;
    export let min: string = "0";
    export let max: string = "99999";
    export let required = "false";
    export let value = "";

    function submit(event: any) {
        value = event.target.value;
        dispatch("submit");
    }
</script>

<div class="text-sm mb-2">
    <label
        class="block font-bold text-gray-700 mb-2"
        for={id}>{label ? label : 'Không có tiêu đề'}
        {required === 'true' ? '(*)' : ''}</label>
    <input
        class="block border border-gray-400 w-full p-2"
        {id}
        type="number"
        {min}
        {max}
        {value}
        on:change={submit} />
</div>
