<script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();

    export let id: string
    export let label: string = "Không có tiêu đề"
    export let rows: string = "5"
    export let required = "false"
    export let value = "";

    function submit(event: any) {
        value = event.target.value;
        dispatch("submit");
    }
</script>

<div class="text-sm mb-2">
    <label class="block font-bold text-gray-700 mb-2" for={ id }>{ label } { required === 'true' ? '(*)' : '' }</label>
    <textarea class="block border border-gray-400 w-full p-2" id={ id } rows={parseInt(rows)} value={value} on:change={submit}/>
</div>
