<script lang="ts">
    export let label: string;
    export let value: string;
</script>

<div class="text-sm mb-2">
    <div class="block font-bold text-gray-700 mb-2">
        {label ? label : "Không có tiêu đề"}: <span>{value}</span>
    </div>
</div>
