<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormTextArea from "../../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import CategoriesAPI from "../../../../api/categories";

    export let pageTitle = "Sửa Thông Tin Loại Hàng Hoá";
    // Get from params
    export let id: number;
    // Item object
    export let category;

    let categories = [];

    onMount(async () => {
        CategoriesAPI.get(id, $accessToken)
            .then((response: any) => {
                console.log(response.data);
                category = response.data;
                // Value problem solved
                category.active = category.active.toString()
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        CategoriesAPI.getAll($accessToken)
            .then((response: any) => {
                categories = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        CategoriesAPI.update(
            category.id,
            category.name,
            category.description,
            parseInt(category.parent_id),
            category.active,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/category");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }

    function changeActive(value: boolean): any {
        category.active = value;
        console.log(category.active);
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if category !== undefined}
            <FormInput
                label="Loại hàng"
                required="true"
                bind:value={category.name} />
            <FormTextArea
                label="Mô tả"
                required="true"
                rows="5"
                bind:value={category.description} />
            <FormSelect
                label="Danh mục cha"
                placeholder="Chọn một danh mục cha"
                id="category-parent-id"
                data={categories}
                bind:value={category.parent_id} />
            <FormRadioGroup label="Trạng thái">
                <FormRadioButton
                    id="active-0"
                    name="active"
                    label="Không kích hoạt"
                    value="0"
                    bind:group={category.active} />
                <FormRadioButton
                    id="active-1"
                    name="active"
                    label="Kích hoạt"
                    value="1"
                    bind:group={category.active} />
            </FormRadioGroup>

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>
