<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormInputNumber from "../../../components/shared/FormInputNumber.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import OrdersAPI from "../../../api/orders";
    import CustomersAPI from "../../../api/customers";
    import DriversAPI from "../../../api/drivers";
    import CategoriesAPI from "../../../api/categories";

    export let pageTitle = "Tạo Đơn Hàng";

    const statuses = [
        {
            id: 1,
            name: "Đang chờ",
        },
        {
            id: 2,
            name: "Đang giao",
        },
        {
            id: 3,
            name: "Đã giao",
        },
        {
            id: 4,
            name: "Bị huỷ",
        },
    ];

    let categories = [];
    let customers = [];
    let drivers = [];

    let categoryId,
        customerId,
        driverId,
        pickupAddress,
        deliveryAddress,
        weight,
        price,
        note,
        response,
        status;

    onMount(async () => {
        CategoriesAPI.getAll($accessToken)
            .then((response: any) => {
                categories = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
        DriversAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
        CustomersAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                customers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        OrdersAPI.create(
            categoryId,
            customerId,
            driverId,
            pickupAddress,
            deliveryAddress,
            parseInt(weight),
            parseInt(price),
            note,
            response,
            status,
            $accessToken
        )
            .then((response: any) => {
                goto("/admin/order");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }

    const getPackagePrice = (weight: number): number => {
        if (weight <= 10) return 1000 * price;
        if (weight > 10 && weight <= 30) return 1500 * price;
        if (weight > 30 && weight <= 50) return 2500 * price;
        if (weight > 50 && weight <= 80) return 5000 * price;
        if (weight > 80 && weight <= 100) return 800 * price;
        else return 12500 * price;
    };
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormSelect
            label="Loại hàng"
            placeholder="Chọn một loại hàng"
            data={categories}
            bind:value={categoryId}
        />
        <FormSelect
            label="Người nhận"
            placeholder="Chọn một người dùng"
            data={customers}
            bind:value={customerId}
        />
        <FormSelect
            label="Lái xe"
            placeholder="Chọn một người dùng"
            data={drivers}
            bind:value={driverId}
        />
        <FormInput label="Điểm lấy hàng" bind:value={pickupAddress} />
        <FormInput label="Điểm giao hàng" bind:value={deliveryAddress} />
        <FormInputNumber
            label="Khối lượng (kg)"
            required="true"
            bind:value={weight}
        />
        <FormInputNumber label="Tiền thu hộ" bind:value={price} />
        <FormInput label="Ghi chú đơn hàng" bind:value={note} />
        <FormInput label="Phản hồi khách hàng" bind:value={response} />
        <FormSelect
            label="Trạng thái"
            placeholder="Chọn một trạng thái"
            data={statuses}
            bind:value={status}
        />

        <div class="text-sm font-bold text-gray-700 mb-4">Giá vận chuyển</div>
        <table class="w-full mb-4">
            <thead class="font-bold text-gray-700 border-b border-black">
                <tr>
                    <td class="py-2">Cân nặng</td>
                    <td class="py-2">Đơn giá</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&lt;= 10 kg</td>
                    <td>500 đ</td>
                </tr>
                <tr>
                    <td>&gt; 10 kg, &lt;= 20kg</td>
                    <td>700 đ</td>
                </tr>
                <tr>
                    <td>&gt; 20 kg, &lt;= 30kg</td>
                    <td>1100 đ</td>
                </tr>
                <tr>
                    <td>&gt; 30 kg, &lt;= 40kg</td>
                    <td>1700 đ</td>
                </tr>
                <tr>
                    <td>&gt; 40 kg, &lt;= 50kg</td>
                    <td>2500 đ</td>
                </tr>
                <tr>
                    <td>&gt; 50 kg</td>
                    <td>3500 đ</td>
                </tr>
            </tbody>
        </table>

        <div class="text-sm font-bold text-gray-700 mb-4">Tổng giá</div>
        <p class="mb-4">
            <strong>{price} đ</strong>
            (2% giá đơn:
            <strong>{price * 0.02} đ</strong>) + ({weight}
            kg:
            <strong>{getPackagePrice(weight)} đ</strong>) =
            <b>{price * 1.02 + getPackagePrice(weight)} đ</b>
        </p>

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>

<style scoped>
    table {
        font-size: 0.9rem;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    thead {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    tbody {
        border-bottom: 2px solid black;
    }

    tr {
        @apply border-b;
        @apply border-black;
    }

    td {
        padding: 0.3rem 0.5rem;
    }
</style>
