<script lang="ts">
    import { onMount } from "svelte";
    import { accessToken } from "../../stores/store";
    import { currentUser } from "../../stores/store";
    import DashboardMain from "../../components/shared/DashboardMain.svelte"
    import CategoriesAPI from "../../api/categories";

    export let pageTitle = "Bảng Điều Khiển";

    // Specific props and datas
    let categories = [];

    onMount(async () => {
        await CategoriesAPI.getAll($accessToken)
            .then((response: any) => {
                categories = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
	<div>
        Xin chào, <strong>{$currentUser.name}</strong>.
    </div>
</DashboardMain>
