<script lang="ts">
    import MenuDropDown from "../shared/utils/MenuDropdown.svelte";
    import { currentUser } from "../../stores/store";
</script>

<nav class="">
    <div
        class="bg-primary-1000 text-white text-center font-semibold text-lg p-4">
        Vận chuyển
    </div>

    <div class="flex flex-col items-center text-gray-600 py-8">
        <div class="text-xs font-semibold mb-1">
            {$currentUser ? $currentUser.name : 'No Name'}
        </div>
        <div class="text-xs font-light">
            {$currentUser ? $currentUser.email : 'No email'}
        </div>
    </div>

    <div class="text-sm px-2 py-4">
        <div class="font-bold text-uppercase px-2 mb-4">QUẢN LÝ</div>

        <a
            href="/client"
            class="rounded-sm select-none cursor-pointer flex justify-between items-center text-gray-600 hover:text-primary-1000'}">
            <div class="text-sm p-2">Bảng điều khiển</div>
        </a>

        <MenuDropDown title="Đơn Hàng">
            <ul class="text-gray-600 text-xs">
                <li class="cursor-pointer p-2">
                    <a class="hover:text-blue-800" href="/client/order">Danh sách</a>
                </li>
            </ul>
        </MenuDropDown>

        <br />
        <div class="font-bold text-uppercase px-2 mb-4">HỆ THỐNG</div>
        <MenuDropDown title="Cài Đặt">
            <ul class="text-gray-600 text-xs">
                <li class="cursor-pointer p-2">
                    <a
                        class="hover:text-blue-800"
                        href="/client/setting/language">Ngôn ngữ</a>
                </li>
            </ul>
        </MenuDropDown>
    </div>
</nav>
