<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormTextArea from "../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import DriverGroupsAPI from "../../../api/driver-groups";
    import DriversAPI from "../../../api/drivers";

    export let pageTitle = "Thêm Đội Xe";

    let drivers = [];
    let leaderId = 0, codename, name;

    onMount(async () => {
        DriversAPI.getAllWithOnlyName($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        DriverGroupsAPI.create(leaderId, codename, name, $accessToken)
            .then((response: any) => {
                goto("/admin/driver-group");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormSelect
            label="Đội trưởng"
            placeholder="Chọn một người"
            data={drivers}
            bind:value={leaderId} />
        <FormInput label="Tên đội" required="true" bind:value={name} />
        <FormInput label="Mã đội" required="true" bind:value={codename} />

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>
