<script lang="ts">
    import { onMount } from "svelte";
    import { accessToken } from "../../stores/store";
    import { currentUser } from "../../stores/store";
    import DashboardMain from "../../components/shared/DashboardMain.svelte";
    import OrdersAPI from "../../api/orders";

    export let pageTitle = "Bảng Điều Khiển";

    // Specific props and datas
    let categories = [];
    let waitOrdersCount = 0;
    let onDeliveryOrdersCount = 0;
    let successOrdersCount = 0;
    let failedOrdersCount = 0;

    onMount(async () => {
        await OrdersAPI.getOrdersData($accessToken)
            .then((response: any) => {
                waitOrdersCount = response.data.waiting;
                onDeliveryOrdersCount = response.data.on_delivery;
                successOrdersCount = response.data.success;
                failedOrdersCount = response.data.failed;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <div class="mb-4">Xin chào, <strong>{$currentUser.name}</strong>. Hiện tại hệ thống đang có:</div>
        <div>
            <span class="text-red-500"
                >{waitOrdersCount}</span
            > đơn hàng đang chờ xác nhận và giao.
        </div>
        <div>
            <span class="text-red-500"
                >{successOrdersCount}</span
            > đơn hàng đã giao thành công.
        </div>
        <div>
            <span class="text-red-500"
                >{failedOrdersCount}</span
            > đơn hàng bị huỷ.
        </div>
        <div>

        </div>
    </div>
    <a
        class="flex justify-center items-center w-max-content rounded bg-purple-500 text-white text-sm px-4 py-2 my-4"
        href="/admin/order">Kiểm Tra</a
    >
</DashboardMain>
