<script context="module">
    import CustomersAPI from "../../../../api/customers";

    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";

    export let pageTitle = "Sửa Thông Tin Khách Hàng";

    export let id: number;
    export let customer;

    onMount(async () => {
        CustomersAPI.get(id, $accessToken)
            .then((response: any) => {
                customer = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        CustomersAPI.update(
            customer.id,
            customer.codename,
            customer.name,
            customer.phone,
            customer.email,
            customer.address,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/customer");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if customer}
            <FormInput
                label="Mã khách hàng"
                required="true"
                bind:value={customer.codename} />
            <FormInput
                label="Tên khách hàng"
                required="true"
                bind:value={customer.name} />
            <FormInput label="Số điện thoại" bind:value={customer.phone} />
            <FormInput label="Email" bind:value={customer.email} />
            <FormInput label="Địa chỉ" bind:value={customer.address} />

            <div on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>
