<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormTextArea from "../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import VehicleTypesAPI from "../../../api/vehicle-types";

    export let pageTitle = "Thêm Loại Xe";

    let vehicleTypes = [];
    let name: string,
        description: string;

    onMount(async () => {
        VehicleTypesAPI.getAll($accessToken)
            .then((response: any) => {
                vehicleTypes = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        VehicleTypesAPI.create(name, description, $accessToken)
            .then((response: any) => {
                goto("/admin/vehicle-type");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormInput label="Loại xe" required="true" bind:value={name} />
        <FormInput label="Mô tả" required="true" bind:value={description} />

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>
