<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import InfoField from "../../../../components/shared/InfoField.svelte";
    import FormTextArea from "../../../../components/shared/FormTextArea.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import OrdersAPI from "../../../../api/orders";
    import CustomersAPI from "../../../../api/customers";
    import DriversAPI from "../../../../api/drivers";
    import CategoriesAPI from "../../../../api/categories";

    export let pageTitle = "Theo Dõi Đơn Hàng";

    export let id: number;
    export let order;

    const statusToString = (status: number): string => {
        switch (status) {
            case 1:
                return "Đang chờ";
                break;
            case 2:
                return "Đang giao";
                break;
            case 3:
                return "Đã giao";
                break;
            case 4:
                return "Bị huỷ";
                break;
        }
    };

    let category;
    let driver;

    let responseNote = "";
    let isResponseNoteShow = false;

    onMount(async () => {
        OrdersAPI.get(id, $accessToken)
            .then((response: any) => {
                order = response.data;

                CategoriesAPI.get(order.category_id, $accessToken)
                    .then((response: any) => {
                        category = response.data.name;
                    })
                    .catch(() => {
                        console.log("Lỗi.");
                    });
                DriversAPI.getWithOnlyName(order.driver_id, $accessToken)
                    .then((response: any) => {
                        driver = response.data.name;
                    })
                    .catch(() => {
                        console.log("Lỗi.");
                    });
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    const getPackagePrice = (weight: number): number => {
        if (weight <= 10) return 1000 * order.price;
        if (weight > 10 && weight <= 30) return 1500 * order.price;
        if (weight > 30 && weight <= 50) return 2500 * order.price;
        if (weight > 50 && weight <= 80) return 5000 * order.price;
        if (weight > 80 && weight <= 100) return 800 * order.price;
        else return 12500 * order.price;
    };

    const getTotalPrice = (weight: number): number => {
        return order.price * 1.02 + getPackagePrice(order.weight);
    };

    const showResponseNote = () => {
        isResponseNoteShow = true;
    };

    const sendResponseNote = () => {
        OrdersAPI.update(
            order.id,
            order.category_id,
            order.order_id,
            order.driver_id,
            order.pickup_address,
            order.delivery_address,
            parseInt(order.weight),
            parseInt(order.price),
            order.note,
            responseNote,
            order.status,
            $accessToken
        )
            .then((response: any) => {
                goto("/client/order");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    };
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if order}
            <InfoField label="Loại hàng" bind:value={category} />
            <InfoField label="Người giao" bind:value={driver} />
            <InfoField
                label="Điểm lấy hàng"
                bind:value={order.pickup_address}
            />
            <InfoField
                label="Điểm giao hàng"
                bind:value={order.delivery_address}
            />
            <InfoField label="Khối lượng (kg)" bind:value={order.weight} />
            <InfoField label="Tiền thu hộ" bind:value={order.price} />
            <InfoField label="Ghi chú đơn hàng" bind:value={order.note} />
            <InfoField
                label="Trạng thái"
                value={statusToString(order.status)}
            />
            <InfoField
                label="Tổng tiền thu"
                value={`${getTotalPrice(order.price)} đ`}
            />

            {#if order.status === 3 || order.status === 4}
                <div class="flex">
                    <div class="py-4" on:click={showResponseNote}>
                        <CustomButton variant="submit">Phản Hồi</CustomButton>
                    </div>
                </div>
            {/if}

            {#if isResponseNoteShow}
                <FormTextArea
                    label="Hãy cho chúng tôi biết tại sao"
                    required="true"
                    rows="5"
                    bind:value={responseNote}
                />
                <div class="py-4" on:click={sendResponseNote}>
                    <CustomButton variant="submit">Gửi</CustomButton>
                </div>
            {/if}
        {/if}
    </div>
</DashboardMain>

<style scoped>
</style>
