<script lang="ts">
    import { onMount } from "svelte";
    import { accessToken } from "../../stores/store";
    import { currentUser } from "../../stores/store";
    import DashboardMain from "../../components/shared/DashboardMain.svelte";
    import AuthAPI from "../../api/auth";
    import OrdersAPI from "../../api/orders";

    export let pageTitle = "Bảng Điều Khiển";

    // Specific props and datas
    let categories = [];
    let id = 0;
    let waitOrdersCount = 0;

    onMount(async () => {
        await AuthAPI.me($accessToken)
            .then((response: any) => {
                id = response.data.id;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        await OrdersAPI.getWaitingOrdersCount(id, $accessToken)
            .then((response: any) => {
                console.log(response.data);
                waitOrdersCount = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        Xin chào, <strong>{$currentUser.name}.</strong> Hiện tại bạn đang có
        <span class="text-red-500">{waitOrdersCount}</span> đơn hàng đang chờ xác
        nhận và giao.
    </div>
    <a
        class="flex justify-center items-center w-max-content rounded bg-purple-500 text-white text-sm px-4 py-2 my-4"
        href="/driver/order">Kiểm Tra</a
    >
</DashboardMain>
