<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import AuthAPI from "../../../api/auth";

    export let pageTitle = "Thêm Người Dùng";

    const permissions = [
        {
            id: 1,
            name: "Admin",
        },
        {
            id: 2,
            name: "Tài xế",
        },
        {
            id: 3,
            name: "Khách hàng",
        },
    ];

    let username: string,
        name: string,
        email: string,
        password: string,
        passwordConfirm: string,
        avatar: string,
        phone: string,
        address: string,
        role: number,
        active: string = "1";

    function create() {
        if (password === passwordConfirm) {
            AuthAPI.register(
                username,
                name,
                email,
                password,
                avatar,
                phone,
                address,
                role,
                parseInt(active),
                $accessToken
            )
                .then((response: any) => {
                    goto("/admin/user");
                })
                .catch(() => {
                    console.log("Lỗi.");
                });
        } else {
            alert("Mật khảu không trùng khớp!");
        }
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormInput label="Họ và tên" required="true" bind:value={name} />
        <FormInput
            label="Tên người dùng"
            required="true"
            bind:value={username} />
        <FormInput
            label="Email"
            required="true"
            type="email"
            bind:value={email} />
        <FormInput
            label="Mật khẩu"
            required="true"
            type="password"
            bind:value={password} />
        <FormInput
            label="Nhập lại mật khẩu"
            required="true"
            type="password"
            bind:value={passwordConfirm} />
        <FormInput label="Avatar" bind:value={avatar} />
        <FormInput label="Số điện thoại" bind:value={phone} />
        <FormInput label="Địa chỉ" bind:value={address} />
        <FormSelect
            label="Quyền hạn"
            placeholder="Chọn một loại"
            data={permissions}
            bind:value={role} />
        <FormRadioGroup label="Trạng thái">
            <FormRadioButton
                id="active-0"
                name="active"
                label="Không kích hoạt"
                value="0"
                bind:group={active} />
            <FormRadioButton
                id="active-1"
                name="active"
                label="Kích hoạt"
                value="1"
                bind:group={active} />
        </FormRadioGroup>

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>
