<script context="module">
    import driversAPI from "../../../../api/drivers";

    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import UsersAPI from "../../../../api/users";
    import DriversAPI from "../../../../api/drivers";
    import DriverGroupsAPI from "../../../../api/driver-groups";
    import VehicleTypesAPI from "../../../../api/vehicle-types";

    export let pageTitle = "Sửa Thông Tin Khách Hàng";

    let drivers = [];
    let vehicleTypes = [];
    let driverGroups = [];

    export let id: number;
    export let driver;

    onMount(async () => {
        DriversAPI.get(id, $accessToken)
            .then((response: any) => {
                driver = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        VehicleTypesAPI.getAll($accessToken)
            .then((response: any) => {
                vehicleTypes = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        UsersAPI.getAll($accessToken)
            .then((response: any) => {
                drivers = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        DriverGroupsAPI.getAll($accessToken)
            .then((response: any) => {
                driverGroups = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        DriversAPI.update(
            driver.id,
            driver.userId,
            driver.driverGroupId,
            driver.vehicleTypeId,
            driver.codename,
            driver.citizenId,
            driver.licenseId,
            driver.licensePlate,
            $accessToken
        )
            .then((response: any) => {
                goto("/admin/driver");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if driver}
        <FormInput label="Mã tài xế" required="true" bind:value={driver.codename} />
        <FormSelect
            label="Tài xế"
            placeholder="Chọn một người dùng"
            data={drivers}
            bind:value={driver.user_id}
        />
        <FormSelect
            label="Đội xe"
            placeholder="Chọn một đội xe"
            data={driverGroups}
            bind:value={driver.driver_group_id}
        />
        <FormSelect
            label="Loại xe"
            placeholder="Chọn một loại xe"
            data={vehicleTypes}
            bind:value={driver.vehicleTypeId}
        />
        <FormInput label="Số CMND/căn cước" bind:value={driver.citizen_id} />
        <FormInput label="Số bằng lái xe" bind:value={driver.license_id} />
        <FormInput label="Biển số xe" bind:value={driver.license_plate} />

        <div class="py-4" on:click={update}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
        {/if}
    </div>
</DashboardMain>
