<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import CustomersAPI from "../../../../api/customers";
    import UsersAPI from "../../../../api/users";

    export let pageTitle = "Sửa Thông Tin Khách Hàng";

    let users = [];

    export let id: number;
    export let customer;

    onMount(async () => {
        CustomersAPI.get(id, $accessToken)
            .then((response: any) => {
                customer = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });

        UsersAPI.getAll($accessToken)
            .then((response: any) => {
                users = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        CustomersAPI.update(
            customer.id,
            customer.user_id,
            customer.codename,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/customer");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<svelte:head>
    <title>{pageTitle ? pageTitle : "Không Có Tiêu Đề"}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if customer}
            <FormSelect
                label="Người dùng hệ thống"
                placeholder="Chọn một người dùng"
                data={users}
                bind:value={customer.user_id}
            />
            <FormInput
                label="Mã khách hàng"
                required="true"
                bind:value={customer.codename}
            />

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>

<style scoped>
</style>
