<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../stores/store";
    import DashboardMain from "../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../components/shared/FormInput.svelte";
    import FormTextArea from "../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../components/shared/CustomButton.svelte";
    import CategoriesAPI from "../../../api/categories";

    export let pageTitle = "Thêm Loại Hàng Hoá";

    let categories = [];
    let name: string,
        description: string,
        parentId: number = 0,
        active: string = "1";

    onMount(async () => {
        CategoriesAPI.getAll($accessToken)
            .then((response: any) => {
                categories = response.data;
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function create() {
        CategoriesAPI.create(name, description, parentId, active, $accessToken)
            .then((response: any) => {
                goto("/admin/category");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        <FormInput label="Loại hàng" required="true" bind:value={name} />
        <FormTextArea
            label="Mô tả"
            required="true"
            rows="5"
            bind:value={description} />
        <FormSelect
            label="Danh mục cha"
            placeholder="Chọn một danh mục cha"
            id="x"
            data={categories}
            bind:value={parentId} />
        <FormRadioGroup label="Trạng thái">
            <FormRadioButton
                id="active-0"
                name="active"
                label="Không kích hoạt"
                value="0"
                bind:group={active} />
            <FormRadioButton
                id="active-1"
                name="active"
                label="Kích hoạt"
                value="1"
                bind:group={active} />
        </FormRadioGroup>

        <div class="py-4" on:click={create}>
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>
