<script lang="ts">
    import DashboardMain from '../../../../components/shared/DashboardMain.svelte'
    import FormInput from '../../../../components/shared/FormInput.svelte'
    import FormTextArea from '../../../../components/shared/FormTextArea.svelte'
    import FormSelect from '../../../../components/shared/FormSelect.svelte'
    import FormRadioGroup from '../../../../components/shared/FormRadioGroup.svelte'
    import FormRadioButton from '../../../../components/shared/FormRadioButton.svelte'
    import CustomButton from '../../../../components/shared/CustomButton.svelte'

    export let pageTitle = "Thêm Ngôn Ngữ"
</script>

<style scoped>
</style>

<svelte:head>
	<title>{ pageTitle ? pageTitle : 'Không Có Tiêu Đề' }</title>
</svelte:head>

<DashboardMain title="{ pageTitle }">
    <div>
        <FormInput label="Tên ngôn ngữ" required="true" />
        <FormInput label="Mã" required="true" />
        <FormInput label="Icon" required="true"/>
        <FormRadioGroup id="status" label="Trạng thái">
            <FormRadioButton id="status-0" name="status" label="Kích hoạt" value="0" />
            <FormRadioButton id="status-1" name="status" label="Bị khoá" value="1" />
        </FormRadioGroup>

        <div class="py-4">
            <CustomButton variant="submit">Lưu</CustomButton>
        </div>
    </div>
</DashboardMain>