<script lang="ts">
    import DashboardMain from '../../../../components/shared/DashboardMain.svelte'
    import DataTable from '../../../../components/shared/DataTable.svelte'

    export let pageTitle = "Danh Sách Ngôn Ngữ"
</script>

<svelte:head>
	<title>{ pageTitle ? pageTitle : 'Không Có Tiêu Đề' }</title>
</svelte:head>

<DashboardMain title="{ pageTitle }">
<!-- Top actions -->
<div class="flex justify-between items-center mb-8">
    <a class="flex justify-center items-center w-max-content border border-black px-4 py-2" href="/admin/setting/language/create">+ Thêm</a>

    <select class="block border border-black py-2" name="" id="">
        <option value="">Tất cả</option>
        <option value="">Chờ nhận</option>
        <option value="">Chờ giao</option>
        <option value="">Đã giao</option>
    </select>

    <input type="text" class="block border border-black p-2" placeholder="Tìm kiếm">
</div>
<!-- Top actions -->
</DashboardMain>