<script context="module">
    export async function preload(page, session) {
        const id = parseInt(page.params.id);

        return { id };
    }
</script>

<script lang="ts">
    import { onMount } from "svelte";
    import { goto } from "@sapper/app";
    import { accessToken } from "../../../../stores/store";
    import DashboardMain from "../../../../components/shared/DashboardMain.svelte";
    import FormInput from "../../../../components/shared/FormInput.svelte";
    import FormTextArea from "../../../../components/shared/FormTextArea.svelte";
    import FormSelect from "../../../../components/shared/FormSelect.svelte";
    import FormRadioGroup from "../../../../components/shared/FormRadioGroup.svelte";
    import FormRadioButton from "../../../../components/shared/FormRadioButton.svelte";
    import CustomButton from "../../../../components/shared/CustomButton.svelte";
    import VehicleTypesAPI from "../../../../api/vehicle-types";

    export let pageTitle = "Sửa Thông Tin Loại Xe";
    // Get from params
    export let id: number;
    // Item object
    export let vehicleType;

    let categories = [];

    onMount(async () => {
        VehicleTypesAPI.get(id, $accessToken)
            .then((response: any) => {
                console.log(response.data);
                vehicleType = response.data;
                vehicleType.active = vehicleType.active.toString()
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    });

    function update() {
        VehicleTypesAPI.update(
            vehicleType.id,
            vehicleType.name,
            vehicleType.description,
            $accessToken
        )
            .then((response: any) => {
                console.log("ok");
                goto("/admin/vehicle-type");
            })
            .catch(() => {
                console.log("Lỗi.");
            });
    }
</script>

<style scoped>
</style>

<svelte:head>
    <title>{pageTitle ? pageTitle : 'Không Có Tiêu Đề'}</title>
</svelte:head>

<DashboardMain title={pageTitle}>
    <div>
        {#if vehicleType !== undefined}
            <FormInput
                label="Loại hàng"
                required="true"
                bind:value={vehicleType.name} />
            <FormTextArea
                label="Mô tả"
                required="true"
                rows="5"
                bind:value={vehicleType.description} />

            <div class="py-4" on:click={update}>
                <CustomButton variant="submit">Lưu</CustomButton>
            </div>
        {/if}
    </div>
</DashboardMain>
