<script lang="ts">
    export let title;
    export let active = false;

    const toggleDropdown = () => {
        active = !active;
    };
</script>

<style>
    .arrow {
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        height: 100%;
    }

    .arrow--right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .arrow--down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>

<div
    class="rounded-sm select-none cursor-pointer flex justify-between items-center
    {active ? 'border-b border-blue-400 bg-primary-1000 text-white' : 'text-gray-600 hover:text-primary-1000'}"
    on:click={toggleDropdown}>
    <div class="text-sm p-2">{title}</div>
    <i class="arrow {active ? 'arrow--down' : 'arrow--right'} p-2" />
</div>

{#if active}
    <div class="pl-2 text-sm">
        <slot />
    </div>
{/if}
